h1 {
    color: blue;
    font-family: Arial, sans-serif;
    background-color: lightyellow;
}
h2 {
    color: green;
    background-color: lightgray;
    font-family: 'Times New Roman', serif;
}
h3 {
    color: orange;
    font-family: 'Courier New', monospace;
    background-color: aliceblue;
}
p {
    color: black;
    font-family: Verdana, sans-serif;
    line-height: 1.5;
    background-color: lightpink;
    text-shadow: 2px 4px 6px #1162ac;
}
div {
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 9px red;

}
body {
    background-color: #f0f0f0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blueviolet;
}